@{
    ViewData["Title"] = "Home Page";
}
@model Dish
<div class="text-center">
    <h1 class="display-4"><a href = '/'>Chefs</a> | Dishes </h1>
    <h3 >Check out our tasty dishes!</h3>
    <a class='btn btn-primary m-3' href='/dishes/new'>Add a dish!</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (Dish d in ViewBag.Dishes)
            {
                <tr>
                    <td>@d.Name</td>
                    <td>@d.Creator.FirstName @d.Creator.LastName</td>
                    <td>@d.Tastiness</td>
                    <td>@d.Calories</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
